<!-- start Simple Custom CSS and JS -->
<style type="text/css">
#graficoPorcentagens{
	width:500px!important;
	height:500px!important;
}

.job-manager-form .submit-job-box .title{
  background:#009fe3!important;
}
.job-manager-form h2{
  color: #009fe3;
}
.job-manager-form fieldset.fieldset-candidate_education_level, .job-manager-form fieldset.fieldset-candidate_experience_years, .job-manager-form fieldset.fieldset-candidate_facebook, .job-manager-form fieldset.fieldset-candidate_instagram, .job-manager-form fieldset.fieldset-candidate_linkedin, .job-manager-form fieldset.fieldset-candidate_rate, .job-manager-form fieldset.fieldset-candidate_twitter, .job-manager-form fieldset.fieldset-candidate_youtube, .job-manager-form fieldset.fieldset-company_category, .job-manager-form fieldset.fieldset-company_email, .job-manager-form fieldset.fieldset-company_facebook, .job-manager-form fieldset.fieldset-company_instagram, .job-manager-form fieldset.fieldset-company_linkedin, .job-manager-form fieldset.fieldset-company_location, .job-manager-form fieldset.fieldset-company_manager_id, .job-manager-form fieldset.fieldset-company_name, .job-manager-form fieldset.fieldset-company_phone, .job-manager-form fieldset.fieldset-company_since, .job-manager-form fieldset.fieldset-company_team_size, .job-manager-form fieldset.fieldset-company_twitter, .job-manager-form fieldset.fieldset-company_website, .job-manager-form fieldset.fieldset-job_listing_career_level, .job-manager-form fieldset.fieldset-job_listing_experience, .job-manager-form fieldset.fieldset-rate_max, .job-manager-form fieldset.fieldset-rate_min, .job-manager-form fieldset.fieldset-resume_skills, .job-manager-form fieldset.fieldset-salary_max, .job-manager-form fieldset.fieldset-salary_min{
  width: 100%!important;
}
fieldset.fieldset-candidate_sexo, .fieldset-candidate_nascimento, .fieldset-cadidate_estado_civil, .fieldset-candidate_cpf, .fieldset-candidate_telefone, .fieldset-candidate_celular  {
  width: calc(50% - 10px)!important;
}

.social-sharer-wrapper.mt20{
	display:none;
}
.related-resumes, .employer-role{
	display:none;
}

@media (max-width:768px){
	fieldset.fieldset-candidate_sexo, .fieldset-candidate_nascimento, .fieldset-cadidate_estado_civil, .fieldset-candidate_cpf, .fieldset-candidate_telefone, .fieldset-candidate_celular{
		width:100%!important;
	}
}

.job-applications ul.job-applications .job-application footer {
    flex-wrap: nowrap;
}

.rating {
    width: 100%;
}

.rating.five-stars .star-rating:after {
    width: 50%;
}

.rating.four-and-half-stars .star-rating:after,.rating.four-stars .star-rating:after {
    width: 40%
}

.rating.three-and-half-stars .star-rating:after,.rating.three-stars .star-rating:after {
    width: 30%
}

.rating.two-and-half-stars .star-rating:after,.rating.two-stars .star-rating:after {
    width: 20%
}

.rating.one-and-half-stars .star-rating:after,.rating.one-stars .star-rating:after {
    width: 10%
}

.rating.no-stars .star-rating:after {
    display: none
}


.fieldset-pergunta_1, .fieldset-pergunta_2, .fieldset-pergunta_3, .fieldset-pergunta_4, .fieldset-pergunta_5, .fieldset-pergunta_6, .fieldset-pergunta_7, .fieldset-pergunta_8, .fieldset-pergunta_9, .fieldset-pergunta_10, .fieldset-pergunta_11, .fieldset-pergunta_12, .fieldset-pergunta_13, .fieldset-pergunta_14, .fieldset-pergunta_15, .fieldset-pergunta_16, .fieldset-pergunta_17, .fieldset-pergunta_18, .fieldset-pergunta_19, .fieldset-pergunta_20, .fieldset-pergunta_21, .fieldset-pergunta_22, .fieldset-pergunta_23, .fieldset-pergunta_24, .fieldset-pergunta_25{
	display:none!important;
}

.fieldset-pergunta_1.ativo,
.fieldset-pergunta_2.ativo,
.fieldset-pergunta_3.ativo,
.fieldset-pergunta_4.ativo,
.fieldset-pergunta_5.ativo,
.fieldset-pergunta_6.ativo,
.fieldset-pergunta_7.ativo,
.fieldset-pergunta_8.ativo,
.fieldset-pergunta_9.ativo,
.fieldset-pergunta_10.ativo,
.fieldset-pergunta_11.ativo,
.fieldset-pergunta_12.ativo,
.fieldset-pergunta_13.ativo,
.fieldset-pergunta_14.ativo,
.fieldset-pergunta_15.ativo,
.fieldset-pergunta_16.ativo,
.fieldset-pergunta_17.ativo,
.fieldset-pergunta_18.ativo,
.fieldset-pergunta_19.ativo,
.fieldset-pergunta_20.ativo,
.fieldset-pergunta_21.ativo,
.fieldset-pergunta_22.ativo,
.fieldset-pergunta_23.ativo,
.fieldset-pergunta_24.ativo,
.fieldset-pergunta_25.ativo{
	display:block!important;
}

.jmfe-checklist-desc-wrap small{
	display:none!important;
}

.proxbtn{
	background: var(--cariera-primary);
	border: 0;
	border-radius: 3px;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	color: #fff;
	cursor: pointer;
	font-size: .875rem;
	font-weight: 600;
	line-height: 1;
	width: 200px;
	outline: none;
	overflow: hidden;
	padding: 15px 25px!important;
	position: relative;
	text-align: center;
	text-transform: uppercase;
	-webkit-transition: all .5s ease;
	transition: all .5s ease;
	z-index: 1!important;
}

.proxbtn:hover{
	opacity:.6;
}
.flexbtn {
    display: flex;
	margin-top: 10px;
    gap: 20px;
}
#jmfe-wrap-pergunta_1,
#jmfe-wrap-pergunta_2,
#jmfe-wrap-pergunta_3,
#jmfe-wrap-pergunta_4,
#jmfe-wrap-pergunta_5,
#jmfe-wrap-pergunta_6,
#jmfe-wrap-pergunta_7,
#jmfe-wrap-pergunta_8,
#jmfe-wrap-pergunta_9,
#jmfe-wrap-pergunta_10,
#jmfe-wrap-pergunta_11,
#jmfe-wrap-pergunta_12,
#jmfe-wrap-pergunta_13,
#jmfe-wrap-pergunta_14,
#jmfe-wrap-pergunta_15,
#jmfe-wrap-pergunta_16,
#jmfe-wrap-pergunta_17,
#jmfe-wrap-pergunta_18,
#jmfe-wrap-pergunta_19,
#jmfe-wrap-pergunta_20,
#jmfe-wrap-pergunta_21,
#jmfe-wrap-pergunta_22,
#jmfe-wrap-pergunta_23,
#jmfe-wrap-pergunta_24,
#jmfe-wrap-pergunta_25 {
  display:none!important;
}

.job-applications ul.job-applications .job-application header ul.actions li a {
    min-width: 100%;
}

.job-applications ul.job-applications .job-application header ul.actions li {
    width: 100%;
}
.job-applications ul.job-applications .job-application section p.application-action-buttons .delete_job_application {
    margin-left: initial;
}
p.application-action-buttons {
    flex-direction: column;
    gap: 10px;
    padding-top: 10px;
}
.user-roles-wrapper .user-role {
    margin-right: 20px;
    width: 100%;
}
</style>
<!-- end Simple Custom CSS and JS -->
